@import "../../../theme/variables.scss";
@import "../../../theme/mixins.scss";

.modal-dialog{
  width: 800px !important; margin: 0 auto !important;
}
.modal-backdrop{
  background: $white-color !important;
}
.modal-backdrop.in {
  filter: alpha(opacity=100) !important;
  opacity: 1 !important;
}
.modal-content{
  border: 0 !important;
}

.close-modal{
  width: 32px; height: 32px; text-align: center; line-height: 50px;
  position: fixed;
  right: -31%;
  top: 20px;
  cursor: pointer;
  i{
    color: rgba($black-color, 0.2);
    font-size: 35px;
  }
}
.entity-create-modal{
  @include full-width;
  background: $white-color;

  .modal-head{
    @include full-width; text-align: center; margin-top: 30px;
    p{
      height: 24px; color: rgba(0,0,0,0.54); font-family: Roboto; font-size: 16px; line-height: 24px; text-align: center; margin-top: 56px;
    }
    h2{
      height: 40px;	color: rgba(0,0,0,0.87); font-family: Roboto; font-size: 32px; line-height: 40px; text-align: center; margin-top: 40px;
    }
  }
  .modal-body{
    padding: 0px;
    width: 780px;
    float: left;
    box-sizing: border-box;
    margin-top: 40px;
    background-color: #FFFFFF;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    .search-section{
      @include full-width;
      span{
        position: absolute;
        left: 30px; top: 20px; font-size: 20px;
        color: rgba(0,0,0,0.38);
      }
      input{
        @include full-width;
        line-height: 60px;
        padding: 0 20px 0 70px;
        border: 0;
        &:focus{
          outline: none;
        }
      }
      .burger-icon{
        position: absolute;
        top: 26px;
        right: 24px;
      }
      i{
        position: absolute;
        right: 15px; top: 18px; font-size: 22px;
        color: $plus-color;
        cursor: pointer;
      }
    }
  }
  .modal-footer{
    @include full-width;
    @include display-flex-center;
    height: 200px;
    button{
      width: 234px; line-height: 55px; @include rounded(2px);  background: #4caf50; text-transform: uppercase; border: 0; font-size: 14px; color: $white-color;
      @include box-shadow(rgba($black-color, 0.8));
      &:focus{
        outline: none;
      }
    }
  }
}
